*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1,7em;
    background: linear-gradient(90deg,#e8aa42,#f8f1f1);
  }
  a{
    color:#333;
    text-decoration: none;
  }
  h1,h2,h3 {
    padding-bottom:20px;
  }
  
  p{
    margin:10px 0;
  }
  
  /*Nav Bar*/
  #navbar{
    background:#E57C23;
    color:#fff;
    overflow:auto;
    position: sticky;
  }
  
  #navbar a{
    color:#fff
  }
  
  #navbar h1{
    float:left;
    padding-top:20px;
    padding-left: 20px;
  }
  
  #navbar ul{
    list-style:none;
    float:right;
  }
  
  #navbar ul li {
  float:left;
  }
  
  #navbar ul li a{
    display:block;
    padding:20px;
    text-align: center;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current{
    background:#e8aa42;
    color:#f8f1f1;
}
.booking{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.hotel1,.hotel2,.hotel3,.hotel4,.hotel5,.hotel6,.hotel7,.hotel8{
    display: flex;
    gap:30px
}
.hotel_img img{
    height: 200px;
    width: 300px;
}
.hotel_img img:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
/*.hotel_btn{
  display:flex;
}*/
.hotel_btn button,.hotel_btn h2{
  float: right;
  align-self: center;
}
.hotel_btn button{
  padding: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 4px; 
}
.hotel_btn button:hover{
  background-color:chartreuse ;
}
.hotel_img{
  width: 25%;
}
.hotel_btn{
  width:15%;
}
.hotel_des{
  width: 60%;
}
.hotel_des tag{
  font-size: 14px;
}
.hotel_des h2{
  font-size: 19px;
}
footer {
    background-color: #e8aa42;
  }
  .link_lists h3 {
    margin-bottom: 10px;
    color:#025454;
  }
  .link_lists ul {
    list-style: none;
  }
  .link_lists ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .news_letter h3 {
    margin-bottom: 10px;
    color:#025454;
  }
  .news_letter input {
    padding: 5px 40px;
    margin-bottom: 10px;
  }
  .footer_container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  .icon_container {
    display: flex;
    gap: 15px;
    font-size: 32px;
  }
  